    <div class="related">
      <ul>
        <li><a href="../doc/">fluentd documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            <h2>Fluent Plugins</h2>
            <table id="plugin-table">
              <thead>
                <tr>
                  <th>Plugin Name</th>
                  <th>gem name &amp; version</th>
                  <th>Author</th>
                  <th>About</th>
                  <th># of Downloads</th>
                </tr>
              </thead>
              <tbody>
              <% plugins.each { |pl| %>
                <tr>
                  <td><a href="<%=pl.url%>"><%=pl.name%></a></td>
                  <td><a href="<%=pl.url%>"><%=pl.gemname+' '+pl.version%></a></td>
                  <td><%=pl.author%></td>
                  <td><%=pl.summary%></td>
                  <td><%=pl.downloads%></td>
                </tr>
              <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
